@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #24262A;
  text-transform: capitalize; }

body {
  background-color: #7638fd;
  padding: 1rem 2rem;
  position: relative; }

.container {
  width: 36rem;
  overflow-x: hidden;
  margin: auto;
  border-radius: 5px;
  background-color: #fff; }
  .container.hide {
    max-height: 100vh;
    width: 36rem;
    overflow: hidden;
    margin: 0 auto; }

html {
  font-size: 62.5%; }

.start {
  min-height: 100vh;
  min-width: 40rem;
  position: absolute;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 100;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1.5rem 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 1.5rem 5px rgba(0, 0, 0, 0.15); }
  .start .start-btn {
    position: relative;
    right: 0; }
  .start.hide-start {
    display: none; }

header {
  height: 32.7rem;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(112, 109, 222, 0.3)), to(rgba(112, 109, 222, 0.1))), url(./images/cover.png);
  background-image: -webkit-linear-gradient(left top, rgba(112, 109, 222, 0.3), rgba(112, 109, 222, 0.1)), url(./images/cover.png);
  background-image: -o-linear-gradient(left top, rgba(112, 109, 222, 0.3), rgba(112, 109, 222, 0.1)), url(./images/cover.png);
  background-image: linear-gradient(to right bottom, rgba(112, 109, 222, 0.3), rgba(112, 109, 222, 0.1)), url(./images/cover.png);
  background-size: cover;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative; }

.title-play-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }
  .title-play-wrapper .title-wrapper {
    margin-bottom: 2rem; }
    .title-play-wrapper .title-wrapper h1 {
      color: #fff;
      font-size: 2.8rem;
      max-width: 20rem;
      margin-bottom: 1rem;
      letter-spacing: 2px;
      font-weight: 700; }
    .title-play-wrapper .title-wrapper .rating svg:last-child {
      opacity: 0.5; }

.play-btn {
  -webkit-box-shadow: 0 0.5rem 1.4rem 0 rgba(83, 6, 252, 0.17);
  box-shadow: 0 0.5rem 1.4rem 0 rgba(83, 6, 252, 0.17);
  background-color: #FFF;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: -2.5rem;
  right: 3rem; }
  .play-btn:hover {
    cursor: pointer; }

.content-wrapper {
  padding: 3.7rem 0 0 3rem; }

.details-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 25rem;
  margin-bottom: 3rem; }
  .details-wrapper .detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .details-wrapper .detail:not(:last-child) {
      position: relative; }
      .details-wrapper .detail:not(:last-child)::after {
        position: absolute;
        display: block;
        content: '';
        right: -2.8rem;
        width: 1px;
        height: 3.3rem;
        background-color: #e7e7e7; }

.detail-title {
  font-size: 1.2rem;
  color: #B3B3B5;
  margin-bottom: 0.5rem; }

.detail-content {
  font-size: 15px;
  font-weight: 700; }

.gallery {
  width: 100%;
  height: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow-x: scroll;
  padding-right: 2rem;
  margin-top: 1rem; }
  .gallery img {
    height: 10.7rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 2rem 3.5rem -1rem rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2rem 3.5rem -1rem rgba(0, 0, 0, 0.25); }

.inf-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 2rem; }
  .inf-wrapper p.detail-content {
    line-height: 2.1rem;
    width: 31.6rem;
    height: 16rem; }

nav {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5rem;
  width: 36rem;
  -webkit-box-shadow: 0 -0.4rem 2.5rem 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 -0.4rem 2.5rem 0 rgba(0, 0, 0, 0.12);
  padding: 0 1rem; }
  nav .buy-btn {
    width: 5rem;
    height: 5rem;
    background-image: -webkit-linear-gradient(315deg, #FFC518 0%, #FFAC0F 100%);
    background-image: -o-linear-gradient(315deg, #FFC518 0%, #FFAC0F 100%);
    background-image: linear-gradient(-225deg, #FFC518 0%, #FFAC0F 100%);
    border-radius: 50%;
    -webkit-box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 189, 21, 0.53);
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 189, 21, 0.53);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem; }
